/*global*/
.paddingzero{
    padding: 0;
}

/*logo block*/
.logo{
   margin: 0 auto;
}
.logo-blok{
    margin-top: 136.5px;

    position: sticky;
}

/*text main block*/

.text-blok{
text-align: center;
margin-top: 65.5px;
}

.text-blok p{
    
  font-family: Poppins;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  color: #141414;
}

/*social media block*/

.social-media{
  text-align: center
}

.social-media-list{
   
      padding: 0;
}
.social-media-list li{
 
     padding-right: 10px;
}
.social-media-list li:last-child{
    margin-right: 0;
}

.social-media-list li a i{
    font-size: 25px;
  color: #141414;
 
   cursor: pointer;
}


/*ucgen block*/





.ucgen-svg{
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
     margin: 0 auto;
     display: block;

}

/*profolio blcok*/

.portfolio{

 text-align: center;

}

.portfolio-list{
 margin-top: 130.5px;

    
        list-style: none;  
   display: inline-block;
}

.portfolio-list li{  
list-style: none;
  float: left;
 
}

.portfolio-list li:first-child

{
    margin-left: 0;
} 
.portfolio-list li:last-child

{
    margin-right: 0;
} 

.portfolio-list li a{
     display: block;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
   cursor: pointer;
    margin: 10px 20px;
   text-decoration:none;
      cursor: pointer;

}

.portfolio-list li a:hover{
 border-radius: 64px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #1b1b1b;
    padding: 0 20px;
   
}

/*porfoliobox-block*/

.img-center{
    padding: 0;
    text-align: center;

margin-left: 1.3em;
    margin-right: 1.3em;
    margin-bottom: 1.3em;
    margin-top: 1.3em;
}

.row-center{
    text-align:center;
   
}
.col-center{
    float: none;
    /*text-align: left;*/
    display: inline-block;
}




/*butom block*/

.load-button{
      width: 123px;
  height: 44px;
  border: solid 2px #ffffff;
    font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  background-color: #171717;
margin-top: 233px;
margin-bottom: 128px;
}

.black-color{
     background-color: #141414;
}

/*text footer*/

.text-footer{

 
  font-family: Poppins;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 39px;
}



/*menu*/


.menu-icon{
margin-top: 52px;
    margin-left: 53px;
}
.line-one{
    width: 30px;
    height: 4.8px;
    background-color: #3F51B5;
}
.line-two{
    width: 21.7px;
    height: 4.8px;
    background-color: #3F51B5;
    margin-top: 3.7px;
}
.line-tree{
    width: 10.9px;
    height: 4.8px;
    background-color: #3F51B5;
    margin-top: 3.7px;
}



/*
Protfolio resimleri*/

.profolio-img{
height: 288px;
background-repeat: no-repeat;
}






/*mediaquery*/

 @media (max-width: 768px) {
   .portfolio-list{
padding: 0;
margin-top: 54.5px;
   }

   .portfolio-list li {
float: none;
margin: 0;

   }

   .logo-blok {
    margin-top: 50.5px;
   }

    }
	
@media (max-width: 991px) {
    .col-center{
        text-align:center;
    }
	

}

@media (max-width:414px) {
  .img-center{
   margin-left: 0;
    margin-right:0;
	}
}
